.card{
  display: flex;
  width: 20rem;
  padding: 32px;
  border: 1px dashed #CFE4E5;
  justify-content: space-between;
  background-color: white;
}

.card_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card_content .card_title {
  font-size: 1rem;
}

.card_content .card_value {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
}

.card_icon {
  margin-top: 16px;
}

.card_icon .icon {
  font-size: 1rem;
  padding: 16px;
  color: #284042;
  background-color: #CFE4E5;
  border-radius: 32px;
}