.table_wrapper {
  min-width: 60rem;
  border: 1px dashed #CFE4E5;
  padding: 32px;
  background-color: white;
}

.table_wrapper > table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0 15px;
  color: #303E40;
  margin-bottom: 24px;
}

th, td {
  border-top: 1px solid #CFE4E5;
  border-bottom: 1px solid #CFE4E5;
  padding-left: 10px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 1.25rem;
  color: #37595C;
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
}

.subtitle {
  font-size: 1rem;
  padding-top: 8px;
  padding-bottom: 40px;
  font-weight: 500;
}